force-app/main/default/flows/Annuity_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Annuity</name>
        <label>Assign Annuity</label>
        <locationX>344</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vAnnuity.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_Invested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAnnuity.Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAnnuity.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Annuity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>142</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Life_Annuity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>annuity_screen</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>pDuration</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Duration__c</picklistField>
        <picklistObject>Annuity__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Annuity Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Annuity Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Annuity</name>
        <label>Create Annuity</label>
        <locationX>453</locationX>
        <locationY>50</locationY>
        <inputReference>vAnnuity</inputReference>
    </recordCreates>
    <screens>
        <name>annuity_screen</name>
        <label>annuity screen</label>
        <locationX>242</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Annuity</targetReference>
        </connector>
        <fields>
            <name>annuity_title</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Income Annuity Information&lt;/b&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>annuity_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>duration</name>
            <choiceReferences>pDuration</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How long would you like income to last?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_Invested</name>
            <dataType>Currency</dataType>
            <fieldText>Amount Invested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Life_Annuity</name>
        <isActive>true</isActive>
        <label>Life/Annuity</label>
        <stageOrder>10</stageOrder>
    </stages>
    <startElementReference>Assign_Stage</startElementReference>
    <status>Active</status>
    <variables>
        <name>vAnnuity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Annuity__c</objectType>
    </variables>
    <variables>
        <name>vQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
