force-app/main/default/flows/Auto_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Verify_Vehicle_Information</name>
        <label>Verify Vehicle Information</label>
        <locationX>1373</locationX>
        <locationY>562</locationY>
        <actionName>VehicleInformationClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Vehicle_Record</targetReference>
        </connector>
        <inputParameters>
            <name>Vinnumber</name>
            <value>
                <elementReference>varVehicleId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AutoInfoResult</assignToReference>
            <name>Auto</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>set_vehicle_id</name>
        <label>set vehicle id</label>
        <locationX>581</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>varVehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1J4GK48K34W132107</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>More_Driver_Decision</name>
        <label>More Driver Decision?</label>
        <locationX>885</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Addition_Drivers_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkMoreDrivers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Vehicle_Details</targetReference>
            </connector>
            <label>No More Drivers</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_Vehicles</name>
        <label>More Vehicles?</label>
        <locationX>1695</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>Additional_Vehicle_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkMoreVehicles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote</targetReference>
            </connector>
            <label>No More Vehicle</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pAnnualDistance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Annual_Distance__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pCoverage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coverage__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pLicenseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drivers_License_Class__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pMaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pPurchaseCondition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_Condition__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Auto Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Addition_Driver_Records</name>
        <label>Create Addition Driver Records</label>
        <locationX>400</locationX>
        <locationY>733</locationY>
        <assignRecordIdToReference>varAdditionalContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Junction_Record_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Drivers_License_Class__c</field>
            <value>
                <elementReference>License_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>varEmail_txt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varFirstName_txt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varLastName_txt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varPhone_txt</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vehicle_Record</name>
        <label>Create Vehicle Record</label>
        <locationX>1568</locationX>
        <locationY>561</locationY>
        <assignRecordIdToReference>varVehicleId</assignRecordIdToReference>
        <connector>
            <targetReference>More_Vehicles</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Distance__c</field>
            <value>
                <elementReference>Annual_Distance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>AutoInfoResult.basePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Commute__c</field>
            <value>
                <elementReference>Daily_Commute_N</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Year__c</field>
            <value>
                <elementReference>AutoInfoResult.modelYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Vehicle_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Coverage__c</field>
            <value>
                <elementReference>Prior_Coverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Condition__c</field>
            <value>
                <elementReference>Purchase_Condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIN__c</field>
            <value>
                <elementReference>VIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>Year_N</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordCreates>
    <recordCreates>
        <name>Junction_Record_Creation</name>
        <label>Junction Record Creation</label>
        <locationX>627</locationX>
        <locationY>749</locationY>
        <assignRecordIdToReference>varJunctionId</assignRecordIdToReference>
        <connector>
            <targetReference>More_Driver_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varAdditionalContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Additional Policy Holder</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Quote_Junction__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>1806</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Select_Appropriate_Policy_Coverage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Coverage__c</field>
            <value>
                <elementReference>Coverage_Options</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Addition_Drivers_Information</name>
        <label>Addition Drivers Information</label>
        <locationX>335</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Addition_Driver_Records</targetReference>
        </connector>
        <fields>
            <name>Additional_Driver</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Additional Driver Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Driver_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varFirstName_txt</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varLastName_txt</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Additional_Driver_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmail_txt</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Additional_Driver_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPhone_txt</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Marital_Status</name>
            <choiceReferences>pMaritalStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>pGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>License_Type</name>
            <choiceReferences>pLicenseType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>License Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>chkMoreDrivers</name>
            <dataType>Boolean</dataType>
            <fieldText>Please check this box if you require to add more drivers after this</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Vehicle_Details</name>
        <label>Additional Vehicle Details</label>
        <locationX>1189</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Vehicle_Information</targetReference>
        </connector>
        <fields>
            <name>Additional_Vehicle_Details_txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Additional Vehicle Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vehicle_Model</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Annual_Distance</name>
            <choiceReferences>pAnnualDistance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Annual Distance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Daily_Commute_N</name>
            <dataType>Number</dataType>
            <fieldText>Daily Commute</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Purchase_Condition</name>
            <choiceReferences>pPurchaseCondition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchase Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Year_N</name>
            <dataType>Number</dataType>
            <fieldText>Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Prior_Coverage</name>
            <dataType>Boolean</dataType>
            <fieldText>Prior Coverage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VIN</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Identification Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>chkMoreVehicles</name>
            <dataType>Boolean</dataType>
            <fieldText>Please check this box if you require to add more Vehicles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Auto_Start</name>
        <label>Auto Start</label>
        <locationX>808</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Auto_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px;&quot;&gt;What are you driving? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You&#39;ll need to be the registered owner of at least one of the vehicles on your policy.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>When_did_you_lease_or_buy_it</name>
            <dataType>Date</dataType>
            <fieldText>When did you lease or buy it?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Appropriate_Policy_Coverage</name>
        <label>Select Appropriate Policy Coverage</label>
        <locationX>1997</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Appropriate_Policy_Coverage_txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Select Appropriate Policy Coverage&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Coverage_Options</name>
            <choiceReferences>pCoverage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Coverage Options</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2161</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(47, 176, 66);&quot;&gt;Hurray!! Your records are saved successfully.  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Addition_Drivers_Information</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AutoInfoResult</name>
        <apexClass>ThirdpartyAutoinfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAdditionalContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJunctionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone_txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarVehicleRcd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
</Flow>
