force-app/main/default/flows/Auto_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>58</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policyholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Drivers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Stage</name>
        <label>Vehicle Stage</label>
        <locationX>365</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Drivers</name>
        <label>Additional Drivers?</label>
        <locationX>147</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Drivers</defaultConnectorLabel>
        <rules>
            <name>More_Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAdditionalDrivers_Auto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addl_Driver_Screen</targetReference>
            </connector>
            <label>More Drivers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Vehicles</name>
        <label>Additional Vehicles</label>
        <locationX>694</locationX>
        <locationY>44</locationY>
        <defaultConnectorLabel>No More Vehicles</defaultConnectorLabel>
        <rules>
            <name>More_Vehicles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkMoreVehicles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_Screen</targetReference>
            </connector>
            <label>More Vehicles</label>
        </rules>
    </decisions>
    <decisions>
        <name>KeepAdding</name>
        <label>Keep Adding?</label>
        <locationX>357</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Drivers</defaultConnectorLabel>
        <rules>
            <name>Even_More_Drivers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chkMoreDrivers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addl_Driver_Screen</targetReference>
            </connector>
            <label>Even More Drivers</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pAnnualDistance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Annual_Distance__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pCondition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purchase_Condition__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pCoverage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coverage__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pLicenseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drivers_License_Class__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pMaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Auto Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Addl_Driver</name>
        <label>Create Addl Driver</label>
        <locationX>157</locationX>
        <locationY>281</locationY>
        <assignRecordIdToReference>vContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Junction</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drivers_License_Class__c</field>
            <value>
                <elementReference>Drivers_License_Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drivers_License_Number__c</field>
            <value>
                <elementReference>Drivers_License_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>vEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>vFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>vLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marital_Status__c</field>
            <value>
                <elementReference>Marital_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Junction</name>
        <label>Create Junction</label>
        <locationX>364</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>KeepAdding</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>vQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Secondary Policyholder</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Quote_Junction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vehicle</name>
        <label>Create Vehicle</label>
        <locationX>703</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Additional_Vehicles</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Distance__c</field>
            <value>
                <elementReference>Annual_Distance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Base_Price__c</field>
            <value>
                <elementReference>Base_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Use__c</field>
            <value>
                <elementReference>vBizUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Coverage__c</field>
            <value>
                <elementReference>Coverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Commute__c</field>
            <value>
                <elementReference>Daily_Commute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Coverage__c</field>
            <value>
                <elementReference>Prior_Coverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Condition__c</field>
            <value>
                <elementReference>Purchase_Condition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>vQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIN__c</field>
            <value>
                <elementReference>VIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordCreates>
    <screens>
        <name>Addl_Driver_Screen</name>
        <label>Addl Driver Screen</label>
        <locationX>158</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>driver_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Additional Drivers&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>driver_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Addl_Driver_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vFirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vLastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Addl_Driver_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Addl_Driver_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Driver must be over 18 years old&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>YEAR(TODAY()) - YEAR({!Date_of_Birth}) &gt; 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Marital_Status</name>
            <choiceReferences>pMaritalStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gender</name>
            <choiceReferences>pGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Drivers_License_Class</name>
            <choiceReferences>pLicenseType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Driver&#39;s License Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Drivers_License_Number</name>
            <dataType>String</dataType>
            <fieldText>Driver&#39;s License Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please provide a valid driver&#39;s license format&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Drivers_License_Number},&quot;[A-Za-z]{1}\\d{7}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>chkMoreDrivers</name>
            <dataType>Boolean</dataType>
            <fieldText>Please check this box if you require to add more drivers after this</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Screen</name>
        <label>Vehicle Screen</label>
        <locationX>527</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Vehicle</targetReference>
        </connector>
        <fields>
            <name>vehicle_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Add Vehicle&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vehicle_stage_show</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purchase_Condition</name>
            <choiceReferences>pCondition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchase Condition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VIN</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Information Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please provide a valid VIN number&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!VIN}, &quot;^[A-HJ-NPR-Za-hj-npr-z\\d]{8}[\\dX][A-HJ-NPR-Za-hj-npr-z\\d]{2}\\d{6}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Base_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Base Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Year</name>
            <dataType>String</dataType>
            <fieldText>Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Provide a valid year for your vehicle&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Year}, &quot;(19|20)\\d{2}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Pct_Biz_Use</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>% Business Use</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBizUse</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Annual_Distance</name>
            <choiceReferences>pAnnualDistance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Annual Distance</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Daily_Commute</name>
            <dataType>Number</dataType>
            <fieldText>Daily Commute (miles)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Prior_Coverage</name>
            <dataType>Boolean</dataType>
            <fieldText>Prior Coverage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Coverage</name>
            <choiceReferences>pCoverage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Coverage</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>chkMoreVehicles</name>
            <dataType>Boolean</dataType>
            <fieldText>Please check this box if you require to add more Vehicles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Home_Vehicle</name>
        <isActive>false</isActive>
        <label>Home/Vehicle</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Policyholder</name>
        <isActive>false</isActive>
        <label>Policyholder</label>
        <stageOrder>5</stageOrder>
    </stages>
    <startElementReference>Assign_Stage</startElementReference>
    <status>Active</status>
    <variables>
        <name>vAdditionalDrivers_Auto</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAdditionalDrivers_Home</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBizUse</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
