force-app/main/default/flows/Home_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>pOwnershipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ownership_Type__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pPropertyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Property_Type__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Home Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Property_Record</name>
        <label>Create Property Record</label>
        <locationX>374</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Property_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Property_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ownership_Type__c</field>
            <value>
                <elementReference>Ownership_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Property_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Type__c</field>
            <value>
                <elementReference>Property_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>Property_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Property_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Property__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>131</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Home_Starter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
        <outputReference>vQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Coverage__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Home_Starter</name>
        <label>Home Starter</label>
        <locationX>249</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Property_Record</targetReference>
        </connector>
        <fields>
            <name>Home_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Property Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Property_Type</name>
            <choiceReferences>pPropertyType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Property Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ownership_Type</name>
            <choiceReferences>pOwnershipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ownership Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Property_Address</name>
            <dataType>String</dataType>
            <fieldText>Property Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_City</name>
            <dataType>String</dataType>
            <fieldText>Property City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_State</name>
            <dataType>String</dataType>
            <fieldText>Property State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_Country</name>
            <dataType>String</dataType>
            <fieldText>Property Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_Postal_Code</name>
            <dataType>String</dataType>
            <fieldText>Property Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Quote</startElementReference>
    <status>Draft</status>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote__c</objectType>
    </variables>
</Flow>
