force-app/main/default/flows/Home_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Additional_Fields</name>
        <label>Assign Additional Fields</label>
        <locationX>269</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vProperty.Ownership_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ownership_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProperty.Property_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProperty.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>vStreetNum &amp; &quot; &quot; &amp; {!vProperty.Street__c}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProperty.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vProperty.Coverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_Coverage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>pCoverage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coverage__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pOwnershipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ownership_Type__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pPropertyType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Property_Type__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Home Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Property</name>
        <label>Create Property</label>
        <locationX>384</locationX>
        <locationY>50</locationY>
        <inputReference>vProperty</inputReference>
    </recordCreates>
    <screens>
        <name>Home_Starter</name>
        <label>Home Starter</label>
        <locationX>159</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Additional_Fields</targetReference>
        </connector>
        <fields>
            <name>Home_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Property Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Property_Type</name>
            <choiceReferences>pPropertyType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Property Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ownership_Type</name>
            <choiceReferences>pOwnershipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ownership Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>googleAddress</name>
            <extensionName>c:GoogleAddressAutoComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vProperty.City__c</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vProperty.Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vProperty.Postal_Code__c</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vProperty.Street__c</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vStreetNum</assignToReference>
                <name>streetNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vProperty.State__c</assignToReference>
                <name>state</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Choose_Coverage</name>
            <choiceReferences>pCoverage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Coverage</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Home_Starter</startElementReference>
    <status>Active</status>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>vStreetNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
