force-app/main/default/flows/Life_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Life</name>
        <label>Assign Life</label>
        <locationX>341</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>vLife.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coverage_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Tobacco_Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tobacco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Assistance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>disability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Bankruptcy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bankruptcy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Criminal_Convictions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>criminal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Diagnosis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pre_condition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Drunk_Driving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>drunk_driving</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Employed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>employed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Family_Cardiovascular__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>heart_condition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Hazardous_Activities__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hazardous_activities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Medical_Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>missed_test</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Past_Declined__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prior_quoting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Travel_Advisory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hazardous_travel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.U_S_Citizen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>citizen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLife.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Life</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>142</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Life_Annuity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>life_screen</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>pTobacco</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tobacco_Usage__c</picklistField>
        <picklistObject>Life__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Life Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Life Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Life</name>
        <label>Create Life</label>
        <locationX>439</locationX>
        <locationY>50</locationY>
        <inputReference>vLife</inputReference>
    </recordCreates>
    <screens>
        <name>life_screen</name>
        <label>life screen</label>
        <locationX>246</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Life</targetReference>
        </connector>
        <fields>
            <name>life_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Instant Life Insurance Quotes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>life_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Coverage_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Coverage Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>tobacco</name>
            <choiceReferences>pTobacco</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any tobacco, nicotine, marijuana, vape or tobacco substitute use?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Nicotine use of any kind, as well as marijuana use, is looked at very closely by all life insurers. Smoking, chewing, inhaling in a vaporized form, consuming in edible products, or wearing a patch on the skin - all constitute use of these products. Non-admittance of marijuana use can result in a decline. Sources of information the insurer may use include: statements made on your application, telephone interviews, your paramed exam results (if one is required), your outside medical records and your Medical Information Bureau (MIB) profile. If you currently use marijuana&amp;nbsp;&lt;u&gt;AND&lt;/u&gt;&amp;nbsp;any product containing tobacco or nicotine, please select the response that most closely describes your tobacco or nicotine use. Always be 100% honest when you answer tobacco use questions to ensure accurate quotes. Remember, a false statement on an application for insurance could void your coverage.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Height</name>
            <dataType>Number</dataType>
            <fieldText>Height (cm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>Number</dataType>
            <fieldText>Weight (kg)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>disability</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you now receiving disability payments or government assistance such as food stamps, WIC or Medicaid?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Financial justification and the ability of the policyholder to pay premiums are important considerations the insurance company will make when underwriting an application. If you receive disability income payments or government aid of any kind, it does not mean you will not qualify for coverage. However, it may impact your eligibility for some policies or the amount of coverage you can qualify for. By answering truthfully here we will be able to show you the policies for which you will most likely be approved.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>employed</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you work at a paying job (employed or self-employed) at least 30 hours per week?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>bankruptcy</name>
            <dataType>Boolean</dataType>
            <fieldText>In the last 5 years have you had any overdue loans, bankruptcy, judgements, tax liens, collections or debt repayment plans established?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Financial justification and financial stability are looked at closely by life insurers. A history of bad credit can indicate instability in terms of being able to pay the premium. A history of bankruptcy does not mean you will not qualify for coverage, but the recency and status of the bankruptcy may affect which plans are available to you. The good news is that when you apply for life insurance, any credit bureau inquiry the insurance company might make will have no impact on your credit score.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>citizen</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you a U.S. Citizen?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;U.S. citizenship is not required to qualify for most types of life insurance. If you are not a U.S. citizen, your residency status will be important in determining which policies may be available to you. We ask you to provide your residency status or visa type along with details including your country of citizenship, date of entry into the U.S. and long-term residency plans so we can find the best plan for you.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>hazardous_travel</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you intend to travel to any country rated 3 or 4 onthe U.S. State Department&#39;s Travel Advisory list?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Intended foreign travel to dangerous countries at the time you buy life insurance is looked at very carefully by all US life insurers. The key word is &quot;intention&quot;. If you currently have no intention of traveling to any country rated higher than level 2, then OK to answer &quot;No&quot;. If your answer is &quot;Yes&quot; and you don&#39;t see a price that you like, then give us a call to discuss your situation. We can guide you.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>hazardous_activities</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you participate in hazardous activities or occupations (aviation, racing, scuba diving, skydiving, rock climbing, etc.)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>criminal</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have any criminal conviction history or law enforcement infractions?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>drunk_driving</name>
            <dataType>Boolean</dataType>
            <fieldText>Within the last 5 years, have you received 3 or more moving violations or been convicted of driving while under the influence (DUI)?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>prior_quoting</name>
            <dataType>Boolean</dataType>
            <fieldText>Have you ever been rated up or declined by any life insurance company?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>heart_condition</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you have any parents or siblings who, prior to age 60, have been diagnosed with or died from cardiovascular, heart or coronary artery disease, stroke or cancer?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>missed_test</name>
            <dataType>Boolean</dataType>
            <fieldText>Have any medical tests or procedures been ordered or recommended that you have not yet completed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pre_condition</name>
            <dataType>Boolean</dataType>
            <fieldText>Have you been diagnosed with any medical conditions in the last 10 years or taken any prescription medications (including from a dentist) in the past 3 years?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Life_Annuity</name>
        <isActive>true</isActive>
        <label>Life/Annuity</label>
        <stageOrder>10</stageOrder>
    </stages>
    <startElementReference>Assign_Stage</startElementReference>
    <status>Active</status>
    <variables>
        <name>vLife</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Life__c</objectType>
    </variables>
    <variables>
        <name>vQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
