force-app/main/default/flows/Quoting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calculate_Price</name>
        <label>Calculate Price</label>
        <locationX>659</locationX>
        <locationY>541</locationY>
        <actionName>QuoteCalculations</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Quote_Billing</targetReference>
        </connector>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>vQuote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Both</name>
        <label>Assign Both</label>
        <locationX>341</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>vQuote.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annuity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policyholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_old_home_auto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Confirmation_Stage</name>
        <label>Assign Confirmation Stage</label>
        <locationX>433</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>741</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>vContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.Marital_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marital_Status_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender_home</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!primStreetNum} {!vContact.MailingStreet}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Life</name>
        <label>Assign Life</label>
        <locationX>341</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>vQuote.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Life</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policyholder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>new_old_home_auto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>186</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quote_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Policyholder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Home_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>starter_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Life_or_Annuity</name>
        <label>Life or Annuity</label>
        <locationX>962</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Annuity_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuity Choice</defaultConnectorLabel>
        <rules>
            <name>Life_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>life_start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Life_Quote</targetReference>
            </connector>
            <label>Life Choice</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_old_home_auto</name>
        <label>New/Old Home/Auto choices</label>
        <locationX>460</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>New_Cust_Home</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Customer</defaultConnectorLabel>
        <rules>
            <name>Existing_Customer_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Customer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exist_cust_home</targetReference>
            </connector>
            <label>Existing Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Type_Decision</name>
        <label>Quote Type Decision</label>
        <locationX>180</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Assign_Both</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Select Annuity</defaultConnectorLabel>
        <rules>
            <name>Select_Life</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quote_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>life_start</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Life</targetReference>
            </connector>
            <label>Select Life</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pLicenseClass</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drivers_License_Class__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pMaritalStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quoting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quoting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>852</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Initialize_Quote</targetReference>
        </connector>
        <inputReference>vContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Junction</name>
        <label>Create Junction</label>
        <locationX>970</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>Life_or_Annuity</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>vContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>vQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Primary Policy Holder</stringValue>
            </value>
        </inputAssignments>
        <object>Contact_Quote_Junction__c</object>
    </recordCreates>
    <recordCreates>
        <name>Initialize_Quote</name>
        <label>Initialize Quote</label>
        <locationX>853</locationX>
        <locationY>226</locationY>
        <assignRecordIdToReference>vQuote.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Junction</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>vQuote.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>748</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Quote</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Existing_Home</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>vContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>conclusion_screen</name>
        <label>conclusion screen</label>
        <locationX>157</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>conclusion_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;﻿Payment has been processed!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for using us for your insurance needs&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>297</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>conclusion_screen</targetReference>
        </connector>
        <fields>
            <name>conclusion_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Confirmation Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirmation_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Review_Summary</name>
            <extensionName>c:ConfirmationFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>vQuote.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>exist_cust_home</name>
        <label>exist cust home</label>
        <locationX>642</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>title_exist_home</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select Existing Customer Record&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Existing_Home</name>
            <choiceReferences>pContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Existing Customer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Cust_Home</name>
        <label>New Cust Home</label>
        <locationX>644</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
        <fields>
            <name>new_home_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 36px;&quot;&gt;Policyholder Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>new_home_name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContact.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vContact.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>new_home_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContact.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>new_home_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContact.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>google_address</name>
            <extensionName>c:GoogleAddressAutoComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vContact.MailingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vContact.MailingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vContact.MailingPostalCode</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vContact.MailingState</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vContact.MailingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primStreetNum</assignToReference>
                <name>streetNumber</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Date_of_Birth_home</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You must be over 18 years old&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>YEAR(TODAY()) - YEAR({!Date_of_Birth_home}) &gt; 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Marital_Status_home</name>
            <choiceReferences>pMaritalStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Marital Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gender_home</name>
            <choiceReferences>pGender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>starter_screen</name>
        <label>starter screen</label>
        <locationX>187</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quote_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>title_starter</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Let&#39;s Get Insured&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select the type of quote you&#39;re looking for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>starter_choice</name>
            <extensionName>c:quote_select</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>quote_choice</assignToReference>
                <name>starter_option</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Existing_Customer</name>
            <dataType>Boolean</dataType>
            <fieldText>Existing Customer?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Billing</name>
        <isActive>false</isActive>
        <label>Billing</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Confirmation</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Home_Vehicle</name>
        <isActive>false</isActive>
        <label>Home/Vehicle</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Policyholder</name>
        <isActive>false</isActive>
        <label>Policyholder</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Quote_Type</name>
        <isActive>true</isActive>
        <label>Quote Type</label>
        <stageOrder>1</stageOrder>
    </stages>
    <startElementReference>Assign_Stage</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Annuity_Quote</name>
        <label>Annuity Quote</label>
        <locationX>770</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Calculate_Price</targetReference>
        </connector>
        <flowName>Annuity_Quote</flowName>
        <inputAssignments>
            <name>vQuoteId</name>
            <value>
                <elementReference>vQuote.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Life_Quote</name>
        <label>Life Quote</label>
        <locationX>768</locationX>
        <locationY>595</locationY>
        <connector>
            <targetReference>Calculate_Price</targetReference>
        </connector>
        <flowName>Life_Quote</flowName>
        <inputAssignments>
            <name>vQuoteId</name>
            <value>
                <elementReference>vQuote.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Quote_Billing</name>
        <label>Quote Billing</label>
        <locationX>549</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Assign_Confirmation_Stage</targetReference>
        </connector>
        <flowName>Quote_Billing</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>vQuote.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>primStreetNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quote_choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>vQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote__c</objectType>
    </variables>
</Flow>
