force-app/main/default/flows/Quote_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Additional_Billing_Details</name>
        <label>Assign Additional Billing Details</label>
        <locationX>646</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>vBilling.Bank_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Bank_Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Bank_Transit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Transit_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.CC_Expiry_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiry_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.CC_Expiry_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiry_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.CC_Security_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_CCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Credit_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Payment_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Pay_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Paperless_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperless_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Paperless_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperless_Policy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Record</name>
        <label>Assign Billing Record</label>
        <locationX>289</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>vBilling.Paperless_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperless_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Paperless_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperless_Policy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Pay_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Required_Contact_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_quote_values</name>
        <label>assign new quote values</label>
        <locationX>404</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>vQuote.Coverage_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Payment_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Street</name>
        <label>Assign Street</label>
        <locationX>695</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>vBilling.Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!vStreetNum} {!vBilling.Billing_Street__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Method_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Payment_Method_Decision</name>
        <label>Payment Method Decision</label>
        <locationX>813</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>CC_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CC or PayPal</defaultConnectorLabel>
        <rules>
            <name>ACH_EFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Banking Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACH_EFT_Screen</targetReference>
            </connector>
            <label>ACH EFT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Contact_Info</name>
        <label>Required Contact Info</label>
        <locationX>402</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>email_and_address_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email and Address</defaultConnectorLabel>
        <rules>
            <name>Email_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paperless_Billing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Paperless_Policy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Only_Screen</targetReference>
            </connector>
            <label>Email Only</label>
        </rules>
        <rules>
            <name>Address_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paperless_Billing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Paperless_Policy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>address_only_screen</targetReference>
            </connector>
            <label>Address Only</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pPaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Billing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pPaymentPlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pay_Plan__c</picklistField>
        <picklistObject>Billing__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quote Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billing</name>
        <label>Create Billing</label>
        <locationX>533</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>assign_new_quote_values</targetReference>
        </connector>
        <inputReference>vBilling</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>50</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Billing_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <object>Quote__c</object>
        <outputReference>vQuote</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>278</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>vQuote</inputReference>
    </recordUpdates>
    <screens>
        <name>ACH_EFT_Screen</name>
        <label>ACH EFT Screen</label>
        <locationX>748</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Additional_Billing_Details</targetReference>
        </connector>
        <fields>
            <name>Bank_Name</name>
            <dataType>String</dataType>
            <fieldText>Bank Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Transit_Number</name>
            <dataType>String</dataType>
            <fieldText>Bank Transit Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>address_only_screen</name>
        <label>address only screen</label>
        <locationX>586</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Street</targetReference>
        </connector>
        <fields>
            <name>googleBillingAddress</name>
            <extensionName>c:GoogleAddressAutoComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_Street__c</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_State__c</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Postal_Code__c</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_City__c</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vStreetNum</assignToReference>
                <name>streetNumber</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CC_Info_Screen</name>
        <label>CC Info Screen</label>
        <locationX>833</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Additional_Billing_Details</targetReference>
        </connector>
        <fields>
            <name>Credit_Card_Number</name>
            <dataType>Number</dataType>
            <fieldText>Credit Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Credit_Card_CCV</name>
            <dataType>Number</dataType>
            <fieldText>Credit Card CCV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expiry_Month</name>
            <dataType>Number</dataType>
            <fieldText>Expiry Month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expiry_Year</name>
            <dataType>Number</dataType>
            <fieldText>Expiry Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>145</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>billing_confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Your payment has been processed!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for using Farmer&#39;s for your insurance needs&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>email_and_address_screen</name>
        <label>email and address screen</label>
        <locationX>586</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Street</targetReference>
        </connector>
        <fields>
            <name>get_email_too</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>googleAddressBoth</name>
            <extensionName>c:GoogleAddressAutoComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_City__c</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_State__c</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Postal_Code__c</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Street__c</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vStreetNum</assignToReference>
                <name>streetNumber</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Only_Screen</name>
        <label>Email Only Screen</label>
        <locationX>588</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Method_Decision</targetReference>
        </connector>
        <fields>
            <name>Get_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>First_Billing_Screen</name>
        <label>First Billing Screen</label>
        <locationX>169</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Billing_Record</targetReference>
        </connector>
        <fields>
            <name>First_Screen_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Billing &amp;amp; Payment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <choiceReferences>pPaymentMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Plan</name>
            <choiceReferences>pPaymentPlan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paperless_Billing</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you agree to have paperless billing?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paperless_Policy</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you agree to have paperless policy?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Payment_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>First Payment Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When should we first ask for payment? &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Quote</startElementReference>
    <status>Active</status>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBilling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing__c</objectType>
    </variables>
    <variables>
        <name>vQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote__c</objectType>
    </variables>
    <variables>
        <name>vStreetNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
