force-app/main/default/flows/Quote_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Address</name>
        <label>Assign Address</label>
        <locationX>599</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>vBilling.Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!vStreetNum} {!vBilling.Billing_Street__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_Method_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing</name>
        <label>Assign Billing</label>
        <locationX>776</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>vBilling.Bank_Account_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Bank_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Bank_Transit_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Transit_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.CC_Expiry_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiry_Month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Credit_Card_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.CC_Expiry_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiry_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.CC_Security_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_CCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Payment_Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Pay_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Plan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Paperless_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperless_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBilling.Paperless_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paperless_Policy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage</name>
        <label>Assign Stage</label>
        <locationX>159</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Billing_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Payment_Method_Decision</name>
        <label>Payment Method Decision</label>
        <locationX>700</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>CC_Info_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CC or PayPal</defaultConnectorLabel>
        <rules>
            <name>ACH_EFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Payment_Method</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct Banking Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACH_EFT_Screen</targetReference>
            </connector>
            <label>ACH EFT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Required_Contact_Info</name>
        <label>Required Contact Info</label>
        <locationX>279</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>email_and_address_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email and Address</defaultConnectorLabel>
        <rules>
            <name>Email_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paperless_Billing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Paperless_Policy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Only_Screen</targetReference>
            </connector>
            <label>Email Only</label>
        </rules>
        <rules>
            <name>Address_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Paperless_Billing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Paperless_Policy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>address_only_screen</targetReference>
            </connector>
            <label>Address Only</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pPaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Billing__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pPaymentPlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pay_Plan__c</picklistField>
        <picklistObject>Billing__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Quote Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billing</name>
        <label>Create Billing</label>
        <locationX>651</locationX>
        <locationY>484</locationY>
        <inputReference>vBilling</inputReference>
    </recordCreates>
    <screens>
        <name>ACH_EFT_Screen</name>
        <label>ACH EFT Screen</label>
        <locationX>856</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Billing</targetReference>
        </connector>
        <fields>
            <name>EFT_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Bank Account Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EFT_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bank_Name</name>
            <dataType>String</dataType>
            <fieldText>Bank Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Bank_Transit_Number</name>
            <dataType>String</dataType>
            <fieldText>Bank Transit Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>address_only_screen</name>
        <label>address only screen</label>
        <locationX>473</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Address</targetReference>
        </connector>
        <fields>
            <name>address_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Billing Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>address_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>address_both_input</name>
            <extensionName>c:GoogleAddressAutoComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_City__c</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Postal_Code__c</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_State__c</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Street__c</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vStreetNum</assignToReference>
                <name>streetNumber</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CC_Info_Screen</name>
        <label>CC Info Screen</label>
        <locationX>694</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Billing</targetReference>
        </connector>
        <fields>
            <name>CC_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Credit Card Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CC_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Credit_Card_Number</name>
            <dataType>Number</dataType>
            <fieldText>Credit Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Credit_Card_CCV</name>
            <dataType>Number</dataType>
            <fieldText>Credit Card CCV</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expiry_Month</name>
            <dataType>Number</dataType>
            <fieldText>Expiry Month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Expiry_Year</name>
            <dataType>Number</dataType>
            <fieldText>Expiry Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>email_and_address_screen</name>
        <label>email and address screen</label>
        <locationX>471</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Address</targetReference>
        </connector>
        <fields>
            <name>email_address_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Billing Email and Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>email_address_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>email_input_both</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>googleAddressBoth</name>
            <extensionName>c:GoogleAddressAutoComplete</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vStreetNum</assignToReference>
                <name>streetNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_City__c</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Country__c</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Postal_Code__c</assignToReference>
                <name>postal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_State__c</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBilling.Billing_Street__c</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Only_Screen</name>
        <label>Email Only Screen</label>
        <locationX>473</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Method_Decision</targetReference>
        </connector>
        <fields>
            <name>email_title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Billing Email&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>email_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>email_input</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vBilling.Billing_Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>First_Billing_Screen</name>
        <label>First Billing Screen</label>
        <locationX>159</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Required_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>First_Screen_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 36px;&quot;&gt;Billing &amp;amp; Payment Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>billing_start_stage</name>
            <extensionName>c:quoteStage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Method</name>
            <choiceReferences>pPaymentMethod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Payment_Plan</name>
            <choiceReferences>pPaymentPlan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Plan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paperless_Billing</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you agree to have paperless billing?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Paperless_Policy</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you agree to have paperless policy?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Payment_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Policy Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;When should we first ask for payment? &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Billing</name>
        <isActive>true</isActive>
        <label>Billing</label>
        <stageOrder>15</stageOrder>
    </stages>
    <startElementReference>Assign_Stage</startElementReference>
    <status>Active</status>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBilling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing__c</objectType>
    </variables>
    <variables>
        <name>vStreetNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
